<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoP4y45iDZRnM9HJxvbhxG3_rEhTNoUPc</string>
	<key>GCM_SENDER_ID</key>
	<string>298580012318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosapp.todoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-deab8</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-deab8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298580012318:ios:cb1ad4f964e605c4806d0f</string>
</dict>
</plist>